/* roboto */
/* 
font-family: 'Roboto', sans-serif;
*/

:root{
    /* var(--color-border) */
    --color-border: #d4d4d4;
    /* var(--color-grigio) */
    --color-grigio: #818181;
    /* var(--color-grigio-chiaro) */
    --color-grigio-chiaro: #b7b7b7;
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

.flex-al-center{
    display: flex;
    align-items: center;
}

#sfondo-top{
    width: 100%;
    height: calc(15vh);
    position: relative;
    background-color: #329486;
}
#sfondo-bottom{
    width: 100%;
    height: calc(85vh);
    background-color: #d7dad4;
}
:root{
    /* var(--w-container) */
    --w-container: 80vw;
    /* var(--h-container) */
    --h-container: 90vh;
    
}
#container{
    width: var(--w-container) ;
    height: var(--h-container) ;
    /* centro con il position absolute (non posso usare flex) */
    left: calc(50% - (var(--w-container) / 2));
    top: calc(50vh - (var(--h-container) / 2));
    position: absolute;
    display: flex;


    /* debug */
    background-color: crimson;
}
:root{
    /* var(--w-navbar) */
    --w-navbar: 30%;
    /* var(--h-navbar) */
    --h-navbar: 100%;
    
}
#navbar{
    width: var(--w-navbar);
    height: var(--h-navbar);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;

    /* debug */
    background-color: #f9f9f9;
}

:root{
    /* var(--w-chat) */
    --w-chat: calc(100% - var(--w-navbar));
    /* var(--h-chat) */
    --h-chat: 100%;    
}
#chat{
    width: var(--w-chat);
    height: var(--h-chat);
    border: 1px solid var(--color-border);

    /* debug */
    background-color: #e2dad2;
}
:root{
    /* var(--w-header) */
    --w-header: 100%;
    /* var(--h-header) */
    --h-header: 50px;  
}
header{
    height: var(--h-header);
    width: var(--w-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    /* debug */
    background-color: #e9e9e9;

}

:root{
    /* var(--h-avatar) */
    --h-avatar: calc(var(--h-header) * 0.7);  
}
.avatar{
    width: var(--h-avatar);
    height: var(--h-avatar);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.img-avatar{
    width: 100%;
    height: auto;
    /* border-radius: 50%; */
}

.nome{
    font-size: 12px;
}
.info{
    /* width: 50px; */
    /* height: var(--h-avatar); */
    height: var(--h-avatar);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 10px;
    
    /* background-color: darkblue; */
}
header .info{
    justify-content: center;

}

.accesso{
    font-size: 10px;
    color: var(--color-grigio);

}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grigio-chiaro);
}
.icon:hover{
    background-color: rgba(0, 0, 0, 0.087);
}
#proposta{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #96d9fd;
}

#proposta .avatar{
    color: #96d9fd;
}
#proposta .accesso{
    text-decoration: underline;
    color: #547384;
}

#cerca{
    border: 1px solid #f4f4f4;
    background-color: white;
    margin: 7px;
    height: 35px;
    display: flex;
}
#tasto-lente{
    width: 75px;
    height: 100%;
    border-right: 1px solid #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grigio);
    font-size: 15px;

}
input{
    width: 100%;
    border: 0;
    padding: 8px;
    font-size: 11px;
}
#contatti{
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: white;
    
}
.contatto{
    width: 100%;
    /* height: 50px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: crimson; */
}
.contatto:hover{
    background-color: #e8eaea;
}
.ultimo-mess{
    font-size: 10px;
    color: var(--color-grigio-chiaro);

}
.orario{
    font-size: 8px;
    color: var(--color-grigio-chiaro);

}