<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a523a9c105.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="CSS/style.css">
    <!--gfont-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>



<body>
    
    <div id="sfondo-top">
        <div id="container">
            <div id="navbar">
                <header>
                    <span class="flex-al-center">
                        <div class="avatar">
                            <img src="img/avatar_io.jpg" class="img-avatar" alt="">
                        </div>
                        <span class="nome">Emanuele</span>
                    </span>
                    <span class="flex-al-center">
                        <span class="icon">
                            <i class="fa-solid fa-circle-notch"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-solid fa-message"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </span>
                </header>
                <div id="proposta">
                    <div class="avatar">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="info">
                        <span class="nome">Ricevi notifiche di nuovi messaggi</span>
                        <span class="underlined">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div id="cerca">
                    <div id="tasto-lente">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricerca">
                </div>
                

                
                

                <div id="contatti">


                    <div class = "contatto" 
                    v-for = "(contatto, index) in contacts" 
                    @click = "aggiornaActive(index)"
                    :class = "index === contactActive ? 'active' : '',
                    ricerca !== '' ? (contatto.name.includes(ricerca) ? '' : 'disp-none') : '' "
                    >
                    <!-- spiego 
                        "ricerca !== '' ? (contatto.name.includes(ricerca) ? '' : 'disp-none') : ''" :
                            se la ricerca è diversa dal vettore nullo:
                                se il nome del contato in questione include la stringa di ricerca: 
                                    non fare niente (aggiungi stringa vuota alle classi)
                                altrimenti: aggiungi classe display none.
                            altrimenti: non fare niente (aggiungi stringa vuota alle classi)
                     -->
                        <span class="flex">
                            <div class="avatar">
                                <img :src='contatto.avatar' class="img-avatar" alt="">
                            </div>
                            <div class="info">
                                
                                <span class="nome">
                                    {{contatto.name}}
                                </span>

                                <span class="ultimo-mess">
                                    {{contatto.messages[contatto.messages.length - 1].text}}
                                </span>

                            </div>
                        </span>

                        <span class="orario">
                            12:00
                            <!-- {{contatto.messages[contatto.messages.length - 1].date}} -->
                        </span>
                        
                    </div>





                </div>
            </div>

            <!-- chat/////////////////////////////////////////////////////// -->
            <div id="chat">
                <header>
                    <span class="flex-al-center">
                        <div class="avatar">
                            <img :src="contacts[contactActive].avatar" class="img-avatar" alt="">
                        </div>
                        <div class="info">
                            <span class="nome">{{contacts[contactActive].name}}</span>
                            <span class="accesso">Ultimo accesso oggi alle 12:00</span>
                        </div>
                    </span>
                    <span class="flex-al-center">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-paperclip"></i>
                        </span>
                        <span class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </span>
                    
                </header>

                <div class="conversation">
                    <span 
                    class="message"  
                    v-for="message in contacts[contactActive].messages"  
                    :class="message.status==='sent' ? 'mine' : 'yours'">
                        <div class="text">
                            {{message.text}}
                        </div>
                        <div class="orario">
                            {{message.date}}
                        </div>

                    </span>
                    
                </div>

                <div class="console">
                    <div class="icon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newText" @keyUp.enter="invia">
                    <div class="icon">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div id="sfondo-bottom"></div>










    <script src="https://unpkg.com/vue@3"></script>
    
    <script type="text/javascript" src="JS/main.js">
    </script>
    

</body>
</html>